.taskList__form {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.taskList__form input {
	height: 20px;
	width: 185px;
}

.taskList__form input::placeholder {
	text-align: center;
}

.taskList__div h1 {
	/*header */
	border-bottom: 1px solid;
}

.priority-dropdown-div label {
	margin-right: 5px;
}
/*
.project-name-bar-div{
  display: grid;
  grid-template-columns: 1fr 200px;
} */

.test-progress-bar-div {
	/* container for project title and progress bar */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr, 1fr;
	grid-template-areas:
		"project-name"
		"progress-bar";
	margin-bottom: 20px;
}

.taskList__div h1 {
	/*header/title of project*/
	border-bottom: 1px solid;
	grid-area: project-name;
}

.taskList__div .progressBorder {
	/*project bar*/
	position: relative;
	top: 5px;
	grid-area: progress-bar;
}

#taskEditErrorDiv {
	color: firebrick;
}
